@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark text-text-light font-display;
}

/* Custom Classes from your source code */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.glassmorphism {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

.animated-grid {
  background-size: 40px 40px;
  animation: pan 60s linear infinite;
}

@keyframes pan {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}